@default-font-color: #333;
@default-font-family: Montserrat, sans-serif;

* {
  color: @default-font-color;
  font-family: @default-font-family
}

a {
  color: @default-font-color;
  text-decoration: none;
  font-size: 16px;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px calc(50vw - 550px);

  &>.navbar-brand {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 16px;

    &>.logo{
      display: block;
      box-sizing: border-box;
    }

    &>.navbar-brand-text {
      display: block;
      box-sizing: border-box;
      margin: 0 0 0 10px;
      font-size: 13px;
      line-height: 16.9px;
      letter-spacing: -0.02em;
      font-weight: 400;
    }
  }
  &>.lang {
    margin-right: 16px;
    font-size: 16px;
    line-height: 20.8px;
  }
}

.packages{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, auto));
  grid-auto-rows: max-content;
  grid-gap: 16px;

  justify-content: center;
  overflow: hidden;

  list-style: none;
  max-width: 100%;
  padding: 16px;

  @media screen and (max-width: 550px){
    grid-template-columns: 1fr;
  }

  &>.package{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;

    width: 100%;
    height: 100%;

    &>.package-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 1em;

      padding: 5px 25px;

      background: linear-gradient(to right bottom, #FFCC00, #F87906);
      transition: border-radius 0.5s;

      & > * {
        color: white;
      }
      &>.sisyphus-version:before{
        content: "Sisyphus: ";
      }
    }
    &>.drop-down {
      border: 0;
      padding: 0;
      height: 0;
      overflow: hidden;
      transition: height 0.5s;

      &>.package-table {
        border-collapse: collapse;
        border: none;
        width: 100%;
        overflow: scroll;

        &>thead {
          text-align: center;
          border-spacing: 0;
          &>tr>th {
            padding: 7px;
            background-color: #F87906;
            color: white;
            font-weight: 400;
          }
        }
        &>tbody>tr>td {
          padding: 7px;
          font-weight: 400;
        }
      }
    }
  }
}

.packages {
  .package-expanded {
    & > .package-header {
      border-radius: 1em 1em 0 0;
    }
    &>.drop-down{
      box-sizing: border-box;
      border: solid 5px transparent;
      border-image: linear-gradient(to right top, #FFCC00, #F87906) 1;
      height: 100%;
    }
  }
}
.banner {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;

  min-height: 100px;
  height: calc(45vh);

  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: xx-large;

  padding-bottom: min(10vh, 100px);
}
