@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grab_hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.10);
}

.grab_hover:is(.dark *) {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.10);
}

@media (prefers-color-scheme: dark) {
    .grab_hover:not(.light *) {
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.10);
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-gray-100;
    @apply dark:bg-gray-950;
    @apply rounded-xl;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
    @apply dark:bg-gray-900;
    @apply rounded-xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
    @apply dark:bg-gray-800;
}